
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BoolBnB Variables

@import 'partials/boolbnb-variables';

// Commons

@import 'partials/commons';


// Navbar

@import 'partials/navbar';

// Tom Tom Maps

@import 'partials/maps';

// Jumbotron

@import 'partials/jumbotron';

// Sections

@import 'partials/sections';

// Login

@import 'partials/login';

// Register

@import 'partials/register';

