// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.avatar {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 50%;
}
  
.hidden {
  display: none;
}
  
.show {
  display: block;
}
#map-div {
  width: 500px;
  height: 500px;
}

.button {
  cursor: pointer;
  font-weight: 500;
  left: 3px;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}
  
.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}
  
.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}
  
.button--green:hover {
  background-color: #8bdda8;
  color: white;
}
#customTownMarker{
  background-image: url("../public/icons/town.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 50px;
}  

#customStructureMarker{
  background-image: url("../public/icons/structure.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 50px;

}
