.myjumbotron{
    height: 500px;
    background-image: url(../../../storage/app/public/imgs/Jumbotron.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;

    #postform{
        width: 50%;
        margin: auto;
        padding-top: 100px;

        #search{
            border-radius: 20px;
            &:focus{
                box-shadow: 0 0 4px 2px $secondary_color;
                border-color: $secondary_color;
            }
        }

        #submit{
            background-color: $default_bg_color;
            position: absolute;
            height: 100%;
            right: -1px;
            border-radius: 20px;
            background-color: $primary_color;
            z-index: 3;
            &:focus{
                box-shadow: 0 0 4px 2px $secondary_color;
                border-color: $secondary_color;
            }
        }
        .form-text{
            text-align: center;
            font-size: 18px;
            font-weight: 400;
        }

    }
}