
.mylogincard{
    padding: 0;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    height: 220px;
    width: 450px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    .card-header{
        background-color: $primary_color;
        color: $default_bg_color;
    }
    .col-form-label{
        font-size: 12px;
    }
    
}
@media (max-width: 420px) { 
    .mylogincard{
        height: 250px;
        width: 75%;
        right: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    } 
 }