
.mylogincard{
    padding: 0;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    height: 220px;
    width: 450px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    .card-header{
        background-color: $primary_color;
        color: $default_bg_color;
    }
    .col-form-label{
        font-size: 12px;
    }
}
