.myregister{
    padding: 0;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 50px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    .myregistercard{
        border: none;
        height: 450px;
        width: 450px;
        
        .card-header{
            background-color: $primary_color;
            color: $default_bg_color;
        }
        
        .col-form-label{
            font-size: 12px;
        }

        .myregisterinputfile{
                font-size: 10px;
        }
    }
   
}


